/* src\modules\qrCreator\qrCreator.module.css */

.qr-creator-container, .qr-creator-container * {
  box-sizing: border-box;
}

.qr-creator-container {
  border: thin solid black;
  padding: 10px;
  display: flex;
  min-height: 500px;
  height: 100%;
}

.qr-creator-container .qr-options{
  flex: 7;
  border: thin solid black;
}

.qr-creator-container .qr-render{
  flex: 3;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b0b0ff;
}

.qr-options .section-container{
  display: grid;
  grid-template-columns: max-content 1fr;
  width: 100%;
  gap: 5px 10px;
  grid-auto-rows: 30px;
}

.input-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  padding: 0 10px;
}

.input-wrapper input, .input-wrapper select{
  width: 100%
}

.input-wrapper .input-value, .input-wrapper button{
  width: max-content;
  white-space: nowrap;
  align-self: center;
  height: 100%;
}



.qr-options .section-container .input-label {
  display: flex;
  align-items: center;
}