/* src\styles\button.css */
/* #section Imports */
@import url('_variables.css');
/* #end-section */
/* #section Required elements structure */
/* 
(.btn-pri | .btn-sec) & (.btn-sm | btn-md | btn-lg)
  img.btn-icon
  span
*/
/* #end-section */
/* #style .btn-pri */
.btn-pri {
  /* #section general */
  color: var(--btn-pri-color);
  background-color: var(--btn-pri-bgcolor);
  border: 2px solid var(--btn-pri-bdcolor);
  transition: all 0.3s ease;
  font-size: var(--btn-md-font-size);
  padding: var(--btn-md-padding-y) var(--btn-md-padding-x);
  border-radius: var(--btn-md-border-radius);
  box-shadow: var(--btn-shadow-default);
  /* #end-section */
  /* #section hover */
  &:hover {
    background-color: var(--btn-pri-bgcolor-hover);
    border-color: var(--btn-pri-bdcolor-hover);
    box-shadow: var(--btn-shadow-hover);
  }
  /* #end-section */
  /* #section active */
  &:active {
    background-color: var(--btn-pri-bgcolor-active);
    border-color: var(--btn-pri-bdcolor-active);
    box-shadow: var(--btn-shadow-active);
  }
  /* #end-section */
  /* #section focus */
  &:focus {
    border-color: var(--btn-pri-bdcolor-focus);
    box-shadow: var(--btn-shadow-hover);
  }
  /* #end-section */
  /* #section disabled */
  &:disabled,
  &[disabled] {
    color: var(--btn-pri-color-disabled);
    background-color: var(--btn-pri-bgcolor-disabled);
    border-color: var(--btn-pri-bdcolor-disabled);
    cursor: not-allowed;
    opacity: 0.7;
    box-shadow: none;
  }
  /* #end-section */
  /* #section breakpoints */
  @media (min-width: 768px) {
    /* background-color: #ffc107; */
  }  
  /* #end-section */
}
/* #end-style */
/* #style .btn-sec */
.btn-sec {
  /* #section general */
  color: var(--btn-sec-color);
  background-color: var(--btn-sec-bgcolor);
  border: 2px solid var(--btn-sec-bdcolor);
  transition: all 0.3s ease;
  font-size: var(--btn-md-font-size);
  padding: var(--btn-md-padding-y) var(--btn-md-padding-x);
  border-radius: var(--btn-md-border-radius);
  box-shadow: var(--btn-shadow-default);
  /* #end-section */
  /* #section hover */
  &:hover {
    background-color: var(--btn-sec-bgcolor-hover);
    border-color: var(--btn-sec-bdcolor-hover);
    box-shadow: var(--btn-shadow-hover);
  }
  /* #end-section */
  /* #section active */
  &:active {
    background-color: var(--btn-sec-bgcolor-active);
    border-color: var(--btn-sec-bdcolor-active);
    box-shadow: var(--btn-shadow-active);
  }
  /* #end-section */
  /* #section focus */
  &:focus {
    border-color: var(--btn-sec-bdcolor-focus);
    box-shadow: var(--btn-shadow-hover);
  }
  /* #end-section */
  /* #section disabled */
  &:disabled,
  &[disabled] {
    color: var(--btn-sec-color-disabled);
    background-color: var(--btn-sec-bgcolor-disabled);
    border-color: var(--btn-sec-bdcolor-disabled);
    cursor: not-allowed;
    opacity: 0.7;
    box-shadow: none;
  }
  /* #end-section */
  /* #section breakpoints */
  @media (min-width: 768px) {
    /* background-color: #ffc107; */
  }
  /* #end-section */
}
/* #end-style */
/* #style .btn-sm */
.btn-sm {
  /* #section general */
  font-size: var(--btn-sm-font-size);
  padding: var(--btn-sm-padding-y) var(--btn-sm-padding-x);
  border-radius: var(--btn-sm-border-radius);
  /* #end-section */
}
/* #end-style */
/* #style .btn-md */
.btn-md {
  /* #section general */
  font-size: var(--btn-md-font-size);
  padding: var(--btn-md-padding-y) var(--btn-md-padding-x);
  border-radius: var(--btn-md-border-radius);
  /* #end-section */
}
/* #end-style */
/* #style .btn-lg */
.btn-lg {
  /* #section general */
  font-size: var(--btn-lg-font-size);
  padding: var(--btn-lg-padding-y) var(--btn-lg-padding-x);
  border-radius: var(--btn-lg-border-radius);
  /* #end-section */
}
/* #end-style */
/* #style .btn-icon */
.btn-pri .btn-icon,
.btn-sec .btn-icon {
  width: var(--btn-md-icon-size);
  height: var(--btn-md-icon-size);
  margin-right: 0.5rem;
  vertical-align: middle;
}
.btn-sm .btn-icon {
  width: var(--btn-sm-icon-size);
  height: var(--btn-sm-icon-size);
}
.btn-md .btn-icon {
  width: var(--btn-md-icon-size);
  height: var(--btn-md-icon-size);
}
.btn-lg .btn-icon {
  width: var(--btn-lg-icon-size);
  height: var(--btn-lg-icon-size);
}
/* #end-style */
